.table-of-colors__button-container {
    width:220px;
    height:35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #86EAE9;
    border-radius: 17px;
    background-color: #313131;
  }