.table-of-colors__table_cell-color {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height:41px;
  width:41px;
  align-self: center;
  background-color: #86EAE9;
}
