.table-of-colors__container{
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height:216px;
}
.table-of-colors__container_for-add-button{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display:flex;
  flex-direction: column;
}