.colorizer__choose-color_color {
    width:29px;
    height:15px;
    margin-left:13px;
    margin-right:13px;
    margin-top:auto;
    margin-bottom:auto;
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    background-color: #3c3c3c;
    color: #BDBDBD;
  }