.colorizer__menu_input-name_text {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Lato;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    color: #BFBFBF;
  }