.table-of-colors__title-container {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }