.window-3D__title {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 280px;
  margin-right: 386px;
  height:22px;
  width:74px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  color: #FFFFFF;
}

